button {
	padding: 10px;
}

.error {
	color: red;
	font-style: italic;
}

form {
	display: table;
}

form div {
	display: table-row;
}

label, input, span, select {
	display: table-cell;
	margin: 5px;
	text-align: left;
}

input[type=text], input[type=password], select, textarea {
	width: 200px;
	margin: 5px;
}

form div div {
	display: table-cell;
}

/*validate*/
.error {
	color: red;
	font-style: italic;
}

.wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.form-item {
	display: flex;
	justify-content: space-between;
}

.title {
	border: 1px solid #ccc;
	margin: 0;
	text-align: center;
	background-color: aqua;
}

.login-form {
	border: 1px solid #ccc;
}

.btn-login {
	width: 30%;
	margin: auto;
}

#form {
	display: flex;
	flex-direction: column;
}